@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Inter", sans-serif;
    color: #1b1b1b;
    font-size: 1rem;
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

:root{
    --black: #1b1b1b;
    --white: #F8F8F8;
    --light-white: #EAEAEA;
    --red: #e21243;
    --red-hover: #7b0823;
    --dark-blue: #0A1284;
    --dark-blue-hover: #1924b9;
    --light-grey: #F3F3F3;
    --semi-grey: #FDFAFA;
    --grey: #D9D9D9;
    --harder-grey: #4E4E4E;
    --dark-grey: #1E1E1E;
    --light-green: #00E022;
}

.hidden{
    display: none !important;
}

.topbar{
    background-color: var(--dark-blue);
    padding: 1rem 0;

}

.topbar-fix {
    width: 100%;
    position: fixed;
    z-index: 999;
    transition: 0.3s ease;
    box-shadow: 0 0 3px var(--black);
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
}

.topbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--white);
}

.location,
.whatsapp-contact {
    display: flex;
    align-items: center;
    gap: 0.7rem;
}

.location i:nth-child(1) {
    color: var(--red);
}

.whatsapp-contact i{
    color: var(--light-green);
}

.whatsapp-contact a:hover{
    color: var(--light-green);
}

#selected-city {
    position: relative;
}

#selected-city #city-options-toggle{
    all: unset;
    inset: 0;
    position: absolute;
    cursor: pointer;
}

#select-city-btn > i.fa-chevron-up {
    display: none;
}

#select-city-btn i {
    transition: opacity 0.3s ease;
}

#city-options-toggle:checked + #select-city-btn > i.fa-chevron-up {
    display: inline-block;
}

#city-options-toggle:checked + #select-city-btn > i.fa-chevron-down {
    display: none;
    
}

#selected-city:has(input:checked) + .cities {
    display: inline-block;
}

.cities{
    display: none;
    position: absolute;
    background-color: var(--dark-blue);
    transition: heigth 0.3s ease-in-out;
    top: 55px;
    box-shadow: 0 2px 1px hsl(0, 0%, 4%);
}

.cities .city:nth-child(1) {
    display: none;
}

.cities,
.cities .city:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.cities .city {
    position:  relative;
    padding: 1rem 2rem 1rem 1rem;
    cursor: pointer;
}

.cities .city:hover {
    background-color: var(--dark-blue-hover);
}

.cities .city input {
    all: unset;
    inset: 0;
    position: absolute;
}

.top-header .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.top-header{
    display: flex;
    align-items: center;
    padding: 1.25rem 0;
    border-bottom: 1px solid #eaebfb;
}

.top-header .brand{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.top-header .brand svg {
    fill: var(--dark-blue);
}

.top-header .brand span {
    color: var(--dark-blue);
    font-weight: bold;
    font-size: 3rem;
}

.top-header-menu ul{
    display: flex;
    gap: 1.1rem;
}

.top-header-menu ul li {
    color: var(black);
    position: relative;
}

.top-header-menu ul li:hover > a,
.top-header-menu ul li:hover > span {
    color: var(--dark-blue-hover);
    cursor: pointer;
}

.top-header-menu ul li > .download-aplicativo {
    width: 450px;
    right: -20px;
    top: 45px;
    position: absolute;
    padding: 1.5rem;
    border-radius: 15px;
    box-shadow: -2px -10px 25px rgba(0 ,0, 0, 0.1);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 10;
}

.top-header-menu ul li > .download-aplicativo::before{
    content: "";
    position: absolute;
    top: -1rem;
    right: 30px;
    width: 0;
    height: 0;
    border-left: 0.75rem solid transparent;
    border-right: 0.75rem solid transparent;
    border-bottom: 1rem solid #fff;
    z-index: 1;
}

.download-aplicativo .title {
    display: flex;
    align-items: center;
    gap: 15px;
}

.download-aplicativo .title > h2 {
    font-size: 1.425rem;
}

.download-aplicativo .content{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.download-aplicativo .content > span{
    font-weight: 700;
    padding-bottom: 0.725rem;
    border-bottom: 1px solid rgba(0 ,0, 0, 0.1);
}

.download-aplicativo .link-download {
    justify-content: space-between;
}

.top-header-menu ul li:hover > .download-aplicativo {
    opacity: 1;
    visibility: visible;
}

.header-menu .container ul {
    display: flex;
    gap: 1rem;
    padding: 1.8rem 0;
    color: black;
}

.header-menu .container ul li:hover {
    color: var(--dark-blue-hover);
}

.header-banners {
    background-color: var(--dark-blue);
    padding: 2.5rem 0;
}

.banner-1 {
    display: flex;
    justify-content: start;
    gap: 4rem;
    align-items: center;
    color: var(--white);
}

.banner-1 > .imagem {
    width: 450px;
    height: 300px;
    position: relative;
    overflow: hidden;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.2);
}

.banner-1 .imagem > img {
    position: absolute;
    top: 0;
    left: 0;
}

.banner-1 .conteudo {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 2rem;
}

.banner-1 .conteudo h1 {
    font-size: 2.5rem;
    line-height: 1.2;
}

.banner-1 .conteudo .fibra {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1rem;
    border: 4px solid var(--red);
    border-radius: 35px;
    padding: .5rem 1.5rem;
}

.banner-1 .conteudo .fibra .velocidade {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.1;
}

.banner-1 .conteudo .fibra .velocidade{
    font-size: 3.2rem;
    font-weight: 900;
}

.banner-1 .conteudo .fibra .velocidade span{
    font-size: 1.9rem;
}

.banner-1 .conteudo .fibra .separador {
    width: 3px;
    height: 80px;
    background-color: var(--red);
}

.banner-1 .conteudo .fibra .preco{
    display: flex;
    align-items: center;
    gap: 5px;
}

.banner-1 .conteudo .fibra .preco .br,
.banner-1 .conteudo .fibra .preco .centavos {
    display: flex;
    flex-direction: column;
    font-size: 1.9rem;
    line-height: 1.1;
    font-weight: 800;
}

.banner-1 .conteudo .fibra .preco .br span,
.banner-1 .conteudo .fibra .preco .centavos span {
    font-size: .8rem;
    font-weight: 300;
}

.banner-1 .conteudo .fibra .preco .valor {
    font-size: 3rem;
    font-weight: 900;
}

.banner-1 .conteudo .beneficios {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.banner-1 .conteudo .beneficios span {
    display: flex;
    align-items: center;
    gap: 10px;
}
.banner-1 .conteudo .beneficios span > i{
    font-size: .6rem;
    border: 2px solid var(--red);
    border-radius: 50%;
    padding: .2rem;
}

.filtro-planos {
    display: flex;
    justify-content: space-between;
}

.filtro-planos .tipos {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.filtro-planos .tipos span{
    cursor: pointer;
    padding: 0.5rem 1rem;
    border-radius: 7px;
}

.filtro-planos .tipos span:hover{
    background-color: var(--dark-blue);
    color: var(--white);
}

.filtro-planos .tipos > .ativo{
    background-color: var(--dark-blue);
    color: var(--white);
}

.filtro-planos .tipos>.ativo:hover{
    background-color: var(--dark-blue-hover);
}

.planos .container {
    padding: 2.5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2.5rem;
    position: relative;
}

.swiper-slide {
    width: 250px !important;
    /* Ajuste o valor para o tamanho que quiser */
    max-width: 250px;
    /* Opcional para limitar */ 
}

.slide-planos-internet,
.slide-planos {
    display: flex;
    padding: 2.5rem 4rem;
    position: relative;
}

.container-slide {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    gap: 2.5rem;
}

.planos-internet,
.planos-internet-streaming {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
}

.slide-planos,
.slide-planos-internet{
    display: none;
}

.filtro-planos:has(#internet.ativo) ~ .slide-planos{
    display: flex;
}

.filtro-planos:has(#internet-streaming.ativo)~.slide-planos-internet {
    display: flex;
}

.plano{
    height: 475px;
    padding: 2rem 1rem;
    border: 1px solid var(--dark-blue);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 25px;
}

.plano h2 {
    font-weight: 800;
    font-size: 3rem;
    text-align: center;
    padding: 0;
}

.plano h2 span{
    font-size: 1.1rem;
    padding: 0 .2rem;
}

.plano ul{
    list-style: disc;
    padding-left: 1rem;
}

.plano ul li{
    font-size: 0.8rem;
}

.plano .preco {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.plano .preco h4{
    color: var(--dark-blue);
    font-size: 1rem;
}

.plano .preco h4 span {
    font-size: 2rem;
    font-weight: 800;
}

.plano .preco span{
    font-size: .6rem;
}

.plano a {
    background-color: var(--dark-blue);
    color: var(--white);
    font-weight: 600;
    font-size: .8rem;
    padding: .7rem 2.8rem;
    border-radius: 10px;
    text-align: center;
}

.plano a:hover {
    background-color: var(--dark-blue-hover);
}

.plano + .recomendado {
    background-color: var(--dark-blue) !important;
    color: var(--white) !important;
}

.plano + .recomendado .preco h4{
    color: var(--white);
}

.plano + .recomendado a {
    background-color: var(--red);
}

.plano +.recomendado a:hover {
    background-color: var(--red-hover);
}

.produto-incluso{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}

.produto-incluso span {
    font-size: .7rem;
    font-weight: normal;
}

.produto-incluso .logos {
    display: flex;
    gap: 5px;
}

.download-app {
    background-color: var(--light-grey);
}

.download-app .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem 0;
    gap: 210px;
}

.download-app .container > img {
   min-height: 189px;
   height: 417px;
}

.conteudo-app{
    display: flex;
    flex-direction: column;
    gap: 1.85rem;
    align-items: end;
}

.conteudo-app h2 {
    font-size: 3rem;
    font-weight: 700;
}

.conteudo-app p {
    width: 80%;
    text-align: right;
}

.conteudo-app .acoes {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.conteudo-app .acoes .acao{
    width: 150px;
    border-radius: 16px;
    display: flex;
    padding: 2rem 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background-color: var(--white);
    box-shadow: -1px 2px 2px var(--light-white);
    transition: background 0.3s ease;
}

.conteudo-app .acoes .acao:hover {
    background-color: var(--dark-blue);
    color: var(--white);
}

.conteudo-app .acoes .acao i {
    font-size: 2.625rem;
}

.conteudo-app .acoes .acao span{
    font-size: 0.9rem;
}

.link-download {
    display: flex;
    gap: 15px;
}

.link-download a{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 1;
    gap: 25px;
    padding: .5rem 1rem;
    border: 1px solid var(--black);
    border-radius: 5px;
    transition: background 0.3s ease;
}

.link-download a i {
    font-size: 2.6rem;
}

.link-download a .descricao{
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: column;
}

.link-download a .descricao span{
    font-size: 0.9rem;
}

.link-download a:hover{
    background-color: var(--dark-blue);
    color: var(--white);
}

.motivos .container{
    display: flex;
    justify-content: space-between;
    padding: 2.5rem 0;
    gap: 20px;
}

.motivos .porque {
    display: flex;
    flex-direction: column;
    align-items: self-start;
    gap: 30px;
}

.motivos .porque h1{
    font-size: 3rem;
    font-weight: 700;
    color: var(--dark-blue);
}

.motivos .porque a {
    background-color: var(--dark-blue);
    font-weight: 700;
    color: var(--white);
    padding: 0.8rem 1.225rem;
    border-radius: 10px;
}

.motivos .porque a:hover {
    background-color: var(--dark-blue-hover);
}

.motivos .cards{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.motivos .cards .card {
    width: 244px;
    height: 397px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 2.25rem 1.5rem;
    text-align: center;
    border-radius: 12px;
    border: 1px solid var(--dark-blue);
}

.motivos .cards .card i{
    color: var(--dark-blue);
    font-size: 4.225rem;
}

.motivos .cards .card{
    line-height: 1.3;
}

.motivos .cards .card h2{
    width: 80%;
}

.motivos .cards .card p {
    font-size: 0.9rem;    
}

.unidades .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding: 2.5rem;
}

.separator {
    width: 60%;
    height: 2px;
    background-color: var(--grey);
    margin-bottom: 20px;
}

.unidades h2 {
    font-size: 2.325rem;
    font-weight: 450;
}


.unidades ul {
    display: flex;
    gap: 15px;
}

.unidades ul li{
    padding: 0.5rem 1rem;
    border-radius: 50px;
    transition: background 0.3s ease;
}
.unidades ul li.ativo{
    background-color: var(--dark-blue);
    color: var(--white);
}

.unidades ul li:hover {
    background-color: var(--dark-blue);
    color: var(--white);
    cursor: pointer;
}

.ajuda {
    background-color: var(--semi-grey);
    border-top: 1px solid var(--black);
    padding: 2.5rem 0;
}

.ajuda .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
}

.ajuda h2 {
    font-weight: normal;
    font-size: 2rem;
}

.ajuda .acoes{
    display: flex;
    justify-content: start;
    gap: 20px;
}

.ajuda .acoes .acao{
    width: 230px;
    height: 185px;
    display: flex;
    padding: 0 1.8rem;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    background-color: var(--white);
    box-shadow: -1px 2px 2px var(--light-white);
    border-radius: 17px;
    transition: background 0.3s ease;
}

.ajuda .acoes .acao .separator {
    width: 100%;
    margin-bottom: 0;
}

.ajuda .acoes .acao .acao-titulo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.ajuda .acoes .acao p {
    font-size: 0.9rem;
}

.ajuda .acoes .acao:hover{
    background-color: var(--dark-blue);
    color: var(--white);
}

footer{
    padding: 2.5rem 0;
    background-color: var(--black);
    color: var(--white);
}

footer .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.footer-main {
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.footer-main .brand {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.footer-main .brand .logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer-main .brand .logo svg {
    fill: var(--white);
}

.footer-main .brand .logo span {
    font-size: 2.5rem;
    font-weight: 700;
}

footer .separator {
    width: 100%;
    background-color: var(--harder-grey);
    height: 1px;
}


.footer-main .brand .sociais {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.footer-main .brand .sociais ul {
    display: flex;
    gap: 15px;
}

.footer-main .brand .sociais li a {
    border: 1px solid var(--white);
    border-radius: 50px;
    padding: .5rem .7rem;
    transition: all 0.3s ease;
}

.footer-main .brand .sociais li a:hover {
    background-color: var(--harder-grey);
    border-color: var(--harder-grey);
}

.footer-main .footer-links {
    display: flex;
    justify-content: space-between;
    gap: 70px;
}

.footer-main .footer-links .link {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 30px
}

.footer-main .footer-links .link h2 {
    font-size: 1.3rem;
    font-weight: 700;
}

.footer-main .footer-links .link ul {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 15px;
}

.footer-main .footer-links .link ul li a:hover{
    color: var(--harder-grey);
}

footer .container span.copyright {
    text-align: center;
}

#map {
    height: 600px;
    width: 100%;
}